<main>
  <div class="p-2 mb-2 bg-success opacity-25 text-dark">
    <h1 class="mt-4 text-center">
      Bootstrap Demo Formulare & Buttons
    </h1>
  </div>
  <div class="text-center">
    <h3 class="mt-4">Formular mit Inputfeldern und Buttons</h3>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email angeben">
      </div>
    </div>
    <br/>
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</main>
